<p>Status: {{> job-status-badge}}</p>
{{#if progress}}<p>Progress: {{progress}}%</p>{{/if}}
{{#if outputBytes}}<p>Output: {{outputBytes}} bytes</p>{{/if}}
{{#if errorMessage}}<p class="flash flash-error">{{errorMessage}}</p>{{/if}}
